TICKET_DB_USER=ticket_service
TICKET_DB_PASSWORD=ticket_service
TICKET_DB_NAME=ticket_service

EMPLOYEES_DB_USER=employees_service
EMPLOYEES_DB_PASSWORD=employees_service
EMPLOYEES_DB_NAME=employees_service

KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

FRONTEND_PORT=8000

JWT_PRIVATE_KEY=
